__pycache__/astrology.cpython-39.pyc
__pycache__/clipboard.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/moon_age.cpython-39.pyc
__pycache__/weather_api.cpython-39.pyc
__pycache__/weather_gui.cpython-39.pyc
weather_json_test.py
weather_json_test2.py
weather_json_test3.py
weather_json_test4.py
星座と月齢.txt
class10s.json
class15s.json
class20s.json
astrology_data copy.json
area copy.json
area_json.py
area_test.json
area.json
