__pycache__/astrology.cpython-39.pyc
__pycache__/clipboard.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/moon_age.cpython-39.pyc
__pycache__/weather_api.cpython-39.pyc
__pycache__/weather_gui.cpython-39.pyc
weather_json_test.py
weather_json_test2.py
weather_json_test3.py
weather_json_test4.py
星座と月齢.txt
class10s.json
class15s.json
class20s.json
astrology_data copy.json
area copy.json
area_json.py
area_test.json
area.json
app_config copy.ini
app_config copy 2.ini
osorano-mado.spec
build/osorano-mado/Analysis-00.toc
build/osorano-mado/base_library.zip
build/osorano-mado/osorano-mado.exe.manifest
build/osorano-mado/osorano-mado.pkg
build/osorano-mado/PKG-00.toc
build/osorano-mado/PYZ-00.pyz
build/osorano-mado/PYZ-00.toc
build/osorano-mado/warn-osorano-mado.txt
build/osorano-mado/xref-osorano-mado.html
build/osorano-mado/localpycs/pyimod01_archive.pyc
build/osorano-mado/localpycs/pyimod02_importers.pyc
build/osorano-mado/localpycs/pyimod03_ctypes.pyc
build/osorano-mado/localpycs/pyimod04_pywin32.pyc
build/osorano-mado/localpycs/struct.pyc
dist/osorano-mado.exe.notanexecutable
build/osorano-mado/EXE-00.toc
dist/osorano-mado.exe
.gitignore
