__pycache__/astrology.cpython-39.pyc
__pycache__/clipboard.cpython-39.pyc
__pycache__/config.cpython-39.pyc
__pycache__/moon_age.cpython-39.pyc
__pycache__/weather_api.cpython-39.pyc
__pycache__/weather_gui.cpython-39.pyc
